---
// Codigo server side only executes only. Momento de construccion BUILD TIME
import PokemonCard from '@components/pokemon/PokemonCard.astro';
import type { PokemonListResponse } from '@interfaces/pokemon-list.response';

import MainLayout from '../layout/MainLayout.astro';
import Title from '@components/shared/Title.astro';


const resp = await fetch('https://pokeapi.co/api/v2/pokemon');
const data = (await resp.json()) as PokemonListResponse;

const title = 'Pokemon Static | Home';
---

<MainLayout	title={title}>

	<Title> Featured Pokemon</Title>
	<hr />
	<section aria-label="Pokemon List" class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5">
	
		{data.results.map(({name, url}) => (<PokemonCard url={url} name={name}/>))}

	</section>
</MainLayout>